<div class="footer">
    <div class="footer-content">
    <img src="<%= getRelativePath('assets/logo/logo-footer.png') %>" alt="Logo Association">
        <section class="contact">
            <div class="contact-link"><img src="<%= getRelativePath('assets/icones/address.png') %>"><p>3, rue Cardinal Gerlier, 69005 LYON</p></div>
            <div class="contact-link"><img src="<%= getRelativePath('assets/icones/phone.png') %>"><p>06 77 61 45 11</p></div>
            <div class="contact-link"><img src="<%= getRelativePath('assets/icones/mail.png') %>"><p>chats.loyasse@gmail.com</p></div>
            <div class="contact-link">
                <div class="socials">
                    <a href="https://www.facebook.com/p/Association-Les-Chats-de-Loyasse-100064752067295/?locale=fr_FR"  target="_blank"><img src="<%= getRelativePath('assets/icones/facebook.png') %>"></a>
                    <a href="https://www.instagram.com/leschatsdeloyasse/"  target="_blank"><img src="<%= getRelativePath('assets/logo/instagram.png') %>"></a>
                </div>
        </section>
    </div>
    <a href="https://www.journal-officiel.gouv.fr/pages/associations-detail-annonce/?q.id=id:201700211063"  target="_blank">Statut legal</a>
</div>
