<header id="header">
    <nav id="nav-placeholder">
        <div class="logo"> <img src="<%= getRelativePath('assets/logo/logo.png') %>" alt="Logo Association"> </div>
        <ul>
            <li><a href="<%= getRelativePath('index.html') %>">Accueil</a></li>
            <li><a href="<%= getRelativePath('adopter.html') %>">Adopter</a></li>
            <li><a href="<%= getRelativePath('qui-sommes-nous.html') %>">Qui sommes nous ?</a></li>
            <li class="dropdown"><a href="#">Nos chats<img src="<%= getRelativePath('assets/icones/arrow.png') %>"></a>
                <ul class="dropdown-menu">
                    <li><a href="<%= getRelativePath('nos-chats/nouvelles-chats.html') %>">Des nouvelles de nos chats</a></li>
                    <li><a href="<%= getRelativePath('nos-chats/chats-partis.html') %>">Ils nous ont quittés</a></li>
                </ul>
            </li>
            <li><a href="<%= getRelativePath('nous-aider.html') %>">Nous aider</a></li>
            <li class="dropdown"><a href="#">Nos actions<img src="<%= getRelativePath('assets/icones/arrow.png') %>"></a>
                <ul class="dropdown-menu">
                    <li><a href="<%= getRelativePath('nos-actions/actualites.html') %>">Nos actions récentes</a></li>
                    <li><a href="<%= getRelativePath('nos-actions/archives.html') %>">Archives</a></li>
                    <li><a href="<%= getRelativePath('nos-actions/gazette.html') %>">Gazette</a></li>
                </ul>
            </li>
            <li><a href="<%= getRelativePath('contact.html') %>">Contacts</a></li>
        </ul>
    </nav>
</header>   